{% extends 'base.html' %}
{% load bootstrap_themes %}
{% load markup %}
{% import app %}

{% block head %}
    {% bootstrap_styles theme=theme type='min.css' %}
{% endblock %}

{% block body %}
    {% navbar container=True %}
        {% brand %} django-era
        {% collapse %} {% bootswatch-menu class='navbar-nav navbar-right' %}
    {% end-navbar %}

    {% container %}
        {% panel %}
            {% title %} Demo
            {% body %} {% icon name='spinner' spin=True %}
        {% end-panel %}
    {% end-container %}
{% endblock %}
