{% load media %}
<!doctype html>

<head>
    <meta charset=utf-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{% block title %}{{ page_title }}{% endblock %}</title>
    {% favicon url='favicon.png' %}
    {% stylesheet url='fontawesome/css/font-awesome.min.css' %}

    {% block scripts %}
        {% script url='moment/min/moment-with-locales.min.js' %}
        {% script url='jquery/dist/jquery.min.js' %}
        {% script url='jquery-query-object/jquery.query-object.js' %}
        {% script url='underscore/underscore-min.js' %}
        {% script url='bootstrap/dist/js/bootstrap.min.js' %}
        <script>var django = {jQuery: $}</script>
        {{ media }}
    {% endblock %}

    {% block head %}
        {% stylesheet url='bootstrap/dist/css/bootstrap.min.css' %}
    {% endblock %}

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->   
</head>
<body>
    {% block body %}{% endblock %}
</body>
